<div id="buy">
  <div class="header">
    <div class="where">
        <i class="iconfont">&#xe600;</i>
        <span>附近</span>        
    </div>
      
    <div class="seach">
    <i class="iconfont">&#xe656;</i>
    
      <input type="text">
    </div>
    <i class="iconfont meau" >&#xe660;</i>
  </div>

  <ul>
    <li *ngFor="let comment of comment of comments;let idx = index ">
      <div class="top">
          <i class="iconfont">&#xe603;</i>
          <div class="info">
            <p>{{comment.name}}</p>
            <p>3 分钟前</p>
          </div>

        <div class="price">
          ￥<span>{{comment.price}}</span>
        </div>
      </div>

      <div class="mid" >
        <img src="{{comment.thumbsrc[0]}}" alt="">
        <img src="{{comment.thumbsrc[1]}}" alt="">
        <img src="{{comment.thumbsrc[2]}}" alt="">        
      </div>

      <p class="desc">{{comment.goodsname}}</p>


      <div class="bot">
          <i class="iconfont">&#xe600;</i><span>{{comment.city}}</span>
          <span class="shu"></span>
          <i class="iconfont">&#xe637;</i><span>0</span>
      </div>
    </li>
  </ul>
</div>

