<div id="cate">
  <div class="header">
    <div  (click)="back()">
      <i class="iconfont">&#xe60f;</i>
    </div>
    类别
  </div>
  <ul>
    
    <li>
      <a href="">
         <i class="iconfont">&#xe60c;</i>
        <span>全部</span>
      </a>
    </li>
    <li>
      <a href="">
         <i class="iconfont">&#xe638;</i>
        <span>手机</span>
      </a>
    </li>
    <li>
      <a href="">
         <i class="iconfont">&#xe652;</i>
        <span>平板</span>
      </a>
    </li>
    <li>
      <a href="">
         <i class="iconfont">&#xe668;</i>
        <span>笔记本</span>
      </a>
    </li>


    <li>
        <a href="">
           <i class="iconfont">&#xe62d;</i>
          <span>配件</span>
        </a>
      </li>
    <li>
      <a href="">
         <i class="iconfont">&#xe7f2;</i>
        <span>其他数码</span>
      </a>
    </li>

  </ul>
</div>