/* You can add global styles to this file, and also import other style files */
*{margin: 0;padding:0;}

html,body,.all-container{
    width: 100%;
    height: 100%;
}
.index-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home{
    display: flex;
    flex-direction: column;
    height: 100%;
}

a{text-decoration: none;}

ul li{list-style: none;}

h1,h2,h3,span,p,div,a{font-family: "微软雅黑";}