<div class="home-head">
  <h1 class="title">优品自营</h1>
</div>

<div class="home-container">
  <div class="home-category">
    <h1>精品手机</h1>
    <h3>与众不同的手机,与众不同的体验</h3>
    <div class="home-shopping">
      入场疯抢
    </div>
  </div>
  <div class="home-category">
    <h1>精品手机</h1>
    <h3>与众不同的手机,与众不同的体验</h3>
    <div class="home-shopping">
      入场疯抢
    </div>
  </div>
  <div class="home-category">
    <h1>精品手机</h1>
    <h3>与众不同的手机,与众不同的体验</h3>
    <div class="home-shopping">
      入场疯抢
    </div>
  </div>
  <div class="home-category">
    <h1>精品手机</h1>
    <h3>与众不同的手机,与众不同的体验</h3>
    <div class="home-shopping">
      入场疯抢
    </div>
  </div>
  <div class="home-category">
    <h1>精品手机</h1>
    <h3>与众不同的手机,与众不同的体验</h3>
    <div class="home-shopping">
      入场疯抢
    </div>
  </div>
  <div class="home-category">
    <h1>精品手机</h1>
    <h3>与众不同的手机,与众不同的体验</h3>
    <div class="home-shopping">
      入场疯抢
    </div>
  </div>
  <div class="home-category">
    <h1>精品手机</h1>
    <h3>与众不同的手机,与众不同的体验</h3>
    <div class="home-shopping">
      入场疯抢
    </div>
  </div>
</div>

  


